<%= link_to "New Entry", new_video_path -%>
<h2>Recently Added</h2>
<ul>
	<% @recently_added.each do |video| -%>
		<li>
			<%= video[:title] -%>
			<br/>
			<%= link_to "Edit", edit_video_path( video ) %> | 
			<%= link_to "Delete", video, :confirm => "Are you sure?", :method => :delete -%>
		</li>
	<% end -%>
</ul>
<%= content_for :javascript do -%>
	<%= javascript_include_tag :jquery -%>
	<%= javascript_include_tag :jquery_ujs -%>
<%- end -%>
