<%- if @video.errors.any? -%>
	<div class="error_explanation">
	<h2>For your Attention</h2>
	<p class="error">There were a few problems with this entry.</p>
	<ul>
		<%- @video.errors.full_messages.each do |error| -%>
		<li><%= error -%></li>
		<%- end -%>
	</ul>
	</div>
<%- end -%>
<%= form_for @video do |f| -%>
<%= render :partial => "video_entry", :locals => {:ff => f}%>
<div class="form_buttons">
	<%= f.submit "Save"%>
	<%= f.submit "Save and Add another" %>
	<input type="button" value="Cancel" onclick="window.location='<%=videos_path%>'"/>		
</div>
<% end -%>
<%= content_for :head do -%>
	<%= stylesheet_link_tag :form_error, :media => 'screen' -%>
<%- end -%>
