<!DOCTYPE html>
<html>
<head>
  <title><%= @browser_title.nil? && @page_title.nil? ? "Lists": @browser_title || @page_title -%></title>
  <%= stylesheet_link_tag    "application", :media => "all" -%>
  <%= csrf_meta_tags -%>
  <%= yield :head -%>
</head>
<body>
	<div id="wrapper">
		<%- if !@page_title.nil? -%>
		<header>
			<h1><%= @page_title -%></h1>
		</header>
		<%- end -%>
		<%- if !flash[:notice].nil? || !flash[:warning].nil? -%>
		<div id="notifications">
			<%- if !flash[:notice].nil? -%>
			<p class="notice"><%= raw(flash[:notice]) -%></p>
			<%- end -%>
			<%- if !flash[:warning].nil? -%>
			<p class="warning"><%= raw(flash[:warning]) -%></p>
			<%- end -%>
		</div>
		<%- end -%>
		<div id="body">
		<%= yield :body -%>
		</div>
	</div>
	<%= yield :javascript -%>
</body>
</html>
